---
ldap_server:
ldap_port:
ldap_username:
ldap_password:
ldap_users_base_dn:
ldap_groups_base_dn:
ldap_pirg_dn:
ldap_cephfs_dn:
ldap_cephs3_dn:
ldap_software_dn:
ldap_min_gid:
ldap_max_gid:
ldap_group_prefix: ""
ldap_group_suffix: ""
